/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff0000;
  --ifm-color-primary-dark: #ff0000;
  --ifm-color-primary-darker: #ff0000;
  --ifm-color-primary-darkest: #ff0000;
  --ifm-color-primary-light: #00ff00;
  --ifm-color-primary-lighter: #00ff00;
  --ifm-color-primary-lightest: #00ff00;
  
  --ifm-link-color: #307D77;
}


/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ebbe1d;
  --ifm-color-primary-dark: #daaf13;
  --ifm-color-primary-darker: #cea512;
  --ifm-color-primary-darkest: #aa880f;
  --ifm-color-primary-light: #edc535;
  --ifm-color-primary-lighter: #eec841;
  --ifm-color-primary-lightest: #f1d366;
}

.navbar__link--active {
  background-color: var(--ifm-color-primary);
  border-radius: 14px;
  border: 2px solid var(--ifm-color-primary);
  color: #1c1e21;
}

.navbar__link:hover {
  color: var(--ifm-color-primary-darkest);
}

.navbar__link--active:hover {
  color: #fff;
}

.table-of-contents__link--active {
  color: var(--ifm-color-primary-darkest);
}

.table-of-contents__link:hover {
  color: var(--ifm-color-primary-darkest);
  text-decoration: underline;
}


.video_wrapper {
  position: relative;
  padding-bottom: 56.25%; /* Video aspect ratio: 100 / (16 / 9) */
  margin-top: 40px;
}

.video_player {
  position: absolute;
  top: 50;
  left: 0;
}

.hero--primary {
  --ifm-hero-text-color: #1c1e21;
  --ifm-link-color: #ebbe1d;
  --ifm-link-hover-color: #fff;
  background: rgb(235,190,29);
  background: linear-gradient(0deg, rgba(235,190,29,1) 0%, rgba(218,175,19,1) 100%);
}

.hero--primary a {
  background-color: var(--ifm-hero-text-color);
  padding: 2px;
  border-radius: 8px;
  border: 2px solid var(--ifm-hero-text-color);
}

.hero__subtitle {
  font-weight: bold;
}

.hero--video {
  margin-top: calc(var(--ifm-spacing-horizontal) * 6);
}

.hero--video video {
  border-radius: 30px;
  border: 6px solid var(--ifm-hero-text-color);
}

.footer--dark {
  --ifm-footer-background-color: #18252D;
}

.docs-container h2  {
  scroll-margin-top: calc(var(--ifm-navbar-height) + .5rem);
}

.docs-container h3 {
  --ifm-h3-font-size: 1.5rem;
  margin-top: calc(var(--ifm-h3-vertical-rhythm-top)* var(--ifm-leading));
  scroll-margin-top: calc(var(--ifm-navbar-height) + .5rem);
}

.docs-toc {
  max-height: calc(100vh - var(--ifm-navbar-height) - 2rem);
  overflow-y: auto;
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 1rem);
}

.docs-toc ul {
  list-style: none;
  padding-left: var(--ifm-toc-padding-horizontal);
}

/* Fix for mobile or see if you can use docs classes */
.docs-left-col {
  max-width: 75% !important;
}

