/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ebbe1d;
  --ifm-color-primary-dark: #daaf13;
  --ifm-color-primary-darker: #cea512;
  --ifm-color-primary-darkest: #aa880f;
  --ifm-color-primary-light: #edc535;
  --ifm-color-primary-lighter: #eec841;
  --ifm-color-primary-lightest: #f1d366;
  
  --ifm-link-color: #307D77;
}


/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ebbe1d;
  --ifm-color-primary-dark: #daaf13;
  --ifm-color-primary-darker: #cea512;
  --ifm-color-primary-darkest: #aa880f;
  --ifm-color-primary-light: #edc535;
  --ifm-color-primary-lighter: #eec841;
  --ifm-color-primary-lightest: #f1d366;
}

.navbar__link--active {
  background-color: #ebbe1d;
  color: #1c1e21;
}

.navbar__link--active:hover {
  color: #fff;
}

.video_wrapper {
  position: relative;
  padding-bottom: 56.25%; /* Video aspect ratio: 100 / (16 / 9) */
  margin-top: 40px;
}

.video_player {
  position: absolute;
  top: 50;
  left: 0;
}

.hero--primary {
  --ifm-hero-text-color: #1c1e21;
  --ifm-link-color: #ebbe1d;
  --ifm-link-hover-color: #fff;
}

.hero--primary a {
  background-color: #1c1e21;
  padding: 3px;
}

.hero--video {
  margin-top: calc(var(--ifm-spacing-horizontal) * 6);
}

.hero--video video {
  border-radius: 30px;
  border: 6px solid #1c1e21;
}

.footer--dark {
  --ifm-footer-background-color: #18252D;
}